[Unit]
Description=Run vnstat web panel update every 1 minute

[Timer]
OnCalendar=*:0/1
AccuracySec=10s
Persistent=true
Unit=vnstat-web-update.service

[Install]
WantedBy=timers.target
